.custom-header {
    position: sticky;
    top: 0;
    background-color: #06B6D4;
    border-bottom: 1px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.nav {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #06B6D4;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#menu-toggle:checked ~ .nav {
    opacity: 1;
    visibility: visible;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    margin: 5px 0;
}

.custom-footer {
    bottom: 0;
    position: relative;
    padding: 20px;
    background-color: #0891B2;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.footer-nav {
    list-style: none;
    display: block;
    gap: 20px;
}

.footer-nav li {
    margin: 0;
}

.footer-nav li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav li a:hover{
    color: #06B6D4;
}

.main-content {
    background-color: #9ca3af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    text-align: center;
}.main-contact {
    background-color: #9ca3af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    text-align: center;
}

.contactheader {
    margin-top: 20px;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 50px;
}

.contactsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstdiv, .seconddiv {
    margin: 20px;
    font-size: 1.5rem;
    padding: 20px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 90%;
    max-width: 610px;
}

.headerr {
    font-weight: bold;
    font-size: 1.25rem;
}
.main-about{
    background-color: #9ca3af;
    color: white;
}
.resume-content{
    color: white;
    background-color: #9ca3af;
    text-align: center;
}

.main-content {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.projects-section {
    display: grid;
    gap: 50px;
}

.project-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-align: center;
    transition: transform 0.3s, border-color 0.3s;
}
.main-jokes{
    background-color: #9ca3af;
    color: white;
}
.joke {
    background-color: #0891B2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, border-color 0.3s;
    padding: 20px;
    margin: 20px 0;
}
.joke:hover {
    transform: translateY(-5px);
    border-color: cyan;
}
.intro-section, .fun-facts-section, .more-jokes-section {
    margin-bottom: 40px;
}
.jokes-generator-container {
    margin-top: 40px;
    background-color: #0891B2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.jokes-generator-container label,
.jokes-generator-container input,
.jokes-generator-container button {
    display: block;
    margin: 10px 0;
}
.get-joke-response-area{
    background-color: white;
    color: black;
    padding: 10px;
}
.jokes-generator-container input{
    color: #06B6D4;
}
.jokes-generator-container button{
    font-weight: bold;
    background-color: #FEF08A;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color: #0891B2;
}
.jokes-generator-container label {
    font-weight: bold;
}

.project-card:hover {
    border-color: #f72585;
}

.project-card img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 16px;
}

.project-info h2 {
    font-size: 20px;
    margin: 10px 0;
}

.project-info p {
    color: black;
}
.sample-projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sample-projects-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    padding: 20px;
}
.sample-projects-card img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}
.sample-project-info {
    flex: 1;
}
.sample-projects-card:hover {
    border-color: #f72585;
}

@media (min-width: 768px) {
    .nav {
        position: static;
        background-color: transparent;
        border: none;
        padding: 0;
        opacity: 1;
        visibility: visible;
    }

    .nav ul {
        flex-direction: row;
        gap: 20px;
    }

    .nav ul li {
        margin: 0;
    }

    .custom-header {
        margin-top: 10px;
    }

    .menu-toggle-btn {
        display: none;
    }
    .main-content{
        height: 100%;
        padding-top: 20px;
    }
    .custom-footer{
        bottom: 0;
    }
    .resume-content{
        margin-left: 100px;
        margin-right: 100px;
    }

    .project-card {
        display: flex;
        flex-direction: row;
    }

    .project-card img {
        width: 400px;
        height: 200px;
        object-fit: cover;
    }

    .project-info {
        flex: 1;
        padding: 16px;
        text-align: left;
    }

}
